// reset
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;

	@supports (min-height: 100svh) {
		min-height: 100svh;
	}
}

@supports (min-height: -moz-available) {
	html,
	body {
		min-height: -moz-available;
		height: 100%;
	}
}

html {
	height: -webkit-fill-available;
	scroll-behavior: smooth;
	font: normal 62.5% / normal $ff-main; //$ 10px
}

body {
	:focus {
		outline: thick solid var(--clr-primary);
	}

	::selection {
		background-color: var(--clr-primary);
		color: var(--clr-white);
	}
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}

	*,
	:after,
	:before {
		scroll-behavior: auto !important;
		-webkit-animation-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
	}
}

.about {
	:focus {
		outline: thick solid var(--clr-accent);
	}

	::selection {
		background-color: var(--clr-accent);
		color: var(--clr-white);
	}
}
