/**
 * Basic typography style for copy text
 */

@use "../abstracts/" as *;

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

html {
	line-height: 1.4;
	line-height: normal;
	font-family: $ff-main;
	font-weight: normal;
	// font-size: 62.5%; //$ 10px
	font-size: 10px;

	@include maxMedia($breakpoint-sm) {
		// font-size: 50%;
	}
}

body {
	font-size: 1.8rem;
	font-size: var(--step-1);
}

.nav {
	&__item {

		a:link,
		a:visited {
			font-family: $ff-main;
		}

		&--contact {

			a:link,
			a:visited {
				font-family: $ff-accent;
			}
		}
	}
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
	font-family: $ff-accent;
	font-weight: 900;
	// text-wrap: balance; //$ experimental: chrome/edge 114, opera 99
}

.heading-primary {
	font-size: var(--step-6);
	letter-spacing: 1rem;
	text-transform: uppercase;
	text-align: center;
	color: var(--clr-white);
}

.heading-secondary {
	font-size: var(--step-4);
}

.heading-tertiary {
	font-size: var(--step-3);
}

.paragraph {
	font-size: var(--step-1);
	color: var(--clr-neutral-2);
	// text-wrap: balance; //$ experimental: chrome/edge 114, opera 99
}