// -----------------------------------------------------------------------------
// This file contains all application-wide variables.
// -----------------------------------------------------------------------------

//! SASS
// font-family

$ff-main: "Barlow",
	system-ui,
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	Oxygen,
	Ubuntu,
	Cantarell,
	"Open Sans",
	"Helvetica Neue",
	sans-serif;

$ff-accent: "Fraunces",
	system-ui,
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	Oxygen,
	Ubuntu,
	Cantarell,
	"Open Sans",
	"Helvetica Neue",
	sans-serif;

// Container's maximum width
$max-width: 192rem;

// breakpoint
// $breakpoint-sm: 320em;

$breakpoint-md: 600em; // tab-port
$breakpoint-lg: 900em; // tab-land - desktop
$breakpoint-xl: 1200em; // xl desktop

$logo-size: 12.4rem;

//! CSS Variables
:root {
	// colors
	--clr-primary: hsl(7, 99%, 70%);
	--clr-accent: hsl(51, 100%, 49%);
	--clr-graphic-text: hsl(167, 40%, 24%);
	--clr-photo-text: hsl(198, 62%, 26%);
	--clr-footer: hsl(168, 34%, 41%);

	// neutrals
	--clr-white: hsl(0, 0%, 100%);
	--clr-neutral-1: hsl(210, 4%, 67%);
	--clr-neutral-2: hsl(232, 10%, 55%);
	--clr-neutral-3: hsl(213, 9%, 39%);
	--clr-neutral-4: hsl(212, 27%, 19%);
	--clr-black: hsl(0, 0%, 0%);

	// alphas
	--clr-contact: hsl(0, 0%, 100%, 20%);

	--bg-footer: hsl(166, 36%, 73%);

	// spacing
	--padding-block: min(6vw, 6rem);
	--padding-inline: min(4vw, 4rem);
}