.header {
	background-image: url(../assets/img/mobile/image-header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	height: 100vh;
	padding-block: 4rem;
}

.hero {
	display: grid;
	place-content: center;
	height: 100%;
	// outline: 2px solid lightsalmon;

	&__arrow {
		margin-top: 10rem;
		margin-inline: auto;

		transition: 0.5s ease-in-out;

		&:hover {
			margin-top: 0;
		}
	}
}
