.section-one {
	color: var(--clr-photo-text);

	// &__img-container { }

	// &__img { }

	:focus {
		outline: thick solid var(--clr-accent);
	}

	::selection {
		background-color: var(--clr-accent);
		color: var(--clr-white);
	}

	&--cta {
		&::before {
			background-color: var(--clr-accent);
		}
	}
}
