// @font-face {
// 	font-family: "Barlow";
// 	src: url(../assets/font/Barlow-SemiBold-webfont.woff) format("woff");
// 	font-weight: bold;
// }

// @font-face {
// 	font-family: "Fraunces";
// 	src:
// 		url(../assets/font/Fraunces.woff2) format("woff2"),
// 		url(../assets/font/Fraunces.woff) format("woff");
// }

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

// SASS variables

$clr-black: hsl(0, 0%, 0%);
$clr-white: hsl(0, 0%, 100%);

$ff-main: "Barlow", sans-serif; // 600
$ff-display: "Fraunces", serif; // 700, 900

$padding-block: min(4vw, 4rem);
$padding-inline: min(6vw, 6rem);
$full-image-width: calc(100% + $padding-inline);

:root {
	// ### Primary
	--clr-primary: hsl(7, 99%, 70%);
	--clr-accent: hsl(51, 100%, 49%);
	--clr-graphic-text: hsl(167, 40%, 24%);
	--clr-photo-text: hsl(198, 62%, 26%);
	--clr-footer: hsl(168, 34%, 41%);

	// ### Neutral

	--clr-neutral-1: hsl(212, 27%, 19%);
	--clr-neutral-2: hsl(213, 9%, 39%);
	--clr-neutral-3: hsl(232, 10%, 55%);
	--clr-neutral-4: hsl(210, 4%, 67%);

	--clr-black: #000;
	--clr-white: #fff;
}
