.nav {
	max-width: calc(192rem - $padding-inline);
	margin-inline: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	// &__logo {}

	&__list {
		display: flex;
		align-items: center;
		list-style: none;
		gap: 4rem;

		@include maxMedia(760em) {
			display: none;
		}
	}

	&__item {
		a:link,
		a:visited {
			text-decoration: none;
			text-transform: capitalize;
			color: var(--clr-white);

			&:hover {
				text-decoration: underline;
			}
		}

		&--contact {
			background-color: var(--clr-white);
			border-radius: 999rem;

			&:hover {
				background-color: rgba($clr-white, 0.5);

				a:link,
				a:visited {
					color: var(--clr-white);
				}
			}

			a:link,
			a:visited {
				padding: 1rem 3rem;
				display: flex;

				text-transform: uppercase;
				color: var(--clr-graphic-text);

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
