@use "../abstracts/" as *;

.cta {
	font-size: 1.8rem;

	@include minMedia($breakpoint-md) {
		font-size: 2rem;
	}

	@include minMedia($breakpoint-lg) {
		font-size: 2.2rem;
	}

	text-transform: uppercase;
	font-family: $ff-accent;
	color: inherit;
	position: relative;
	display: inline-block;
	width: max-content;

	&::after {
		content: "";
		display: block;
		height: .75rem;
		width: 100%;
		border-radius: 999rem;
		position: absolute;
		z-index: -1;
		bottom: .5rem;
		left: 0;
		background-color: var(--clr-accent);
		filter: opacity(50%);
		transition: all .2s ease-in-out;
	}

	&:hover::after,
	&:focus::after {
		filter: opacity(100%);
	}

	&:active {
		filter: brightness(90%);
	}
}