$content-padding-block: 6rem;
$content-padding-inline: 4rem;

.container {
	max-width: 144rem;
	margin-inline: auto;
}

.header--container {
	padding-inline: $padding-inline;
}

.section-one,
.section-two {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(20vw, 37rem), 1fr));
	// grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));

	&__content {
		padding: $content-padding-block $content-padding-inline;

		display: grid;
		place-content: center;
		gap: clamp(2rem, 5vw, 4rem);
	}

	// &__img-container {	}

	&__img {
		height: 100%;
		object-fit: cover;
	}
}

.section-one {
	&__content {
		grid-row: 2 / 3;
	}

	&__img-container {
		grid-row: 1 / 2;
	}

	@include minMedia(755em) {
		&__content {
			grid-row: initial;
		}
		&__img-container {
			grid-row: initial;
		}
	}
}
.section-two {
	&__content {
		grid-row: 2 / 3;
	}

	&__img-container {
		grid-row: 1 / 2;
	}

	@include minMedia(755em) {
		&__content {
			grid-row: 1 / 2;
			grid-column: 2 / 3;
		}
		&__img-container {
			grid-row: 1 / 2;
			grid-column: 1 / 2;
		}
	}
}
