@use "../abstracts/" as *;

footer {
	padding: 8rem var(--padding-inline);
	background: var(--bg-footer);

	::selection {
		background-color: var(--clr-footer);
	}



	.logo-container {
		margin-inline: auto;
	}

	.nav {
		flex-direction: column;
		margin-top: 4rem;
		gap: 4rem;

		&__socials {
			display: flex;
			justify-content: center;
			list-style: none;
			gap: 4rem;

			li {
				@include hover {
					filter: brightness(30%);
				}
			}
		}

		&__list {
			position: initial;
			display: flex;
			background: initial;
			justify-content: center;
			margin-inline: auto;
			transform: initial;


			a:link,
			a:visited {
				padding-inline: 1rem;

				@include hover {
					background-color: initial;
				}
			}
		}

		&__item {

			a:link,
			a:visited {
				color: var(--clr-footer);

			}
		}
	}
}