@use "../abstracts/" as *;

.hero {
	height: 100vh;
	background: no-repeat bottom/cover url(../assets/img/mobile-header.jpg);

	@include minMedia(600em) {
		background: no-repeat bottom/cover url(../assets/img/desktop-header.jpg);
	}

	display: grid;
	place-content: center;
	padding-inline: var(--padding-inline);

	&__arrow {
		cursor: pointer;
		margin-inline: auto;
		animation: arrow-anim 1s ease-in-out infinite alternate;
	}
}